<!-- <h1>This is {{ name }}</h1>
<h2>Welcome to {{ company }}</h2>
<div>{{time}}</div>
{{getMessage("Tom")}}
<br/>
<app-home></app-home>
<app-login></app-login> -->
<!-- <app-user></app-user> -->
<!-- <app-login></app-login> -->
<!-- <app-ng-if-else></app-ng-if-else> -->
<!-- <app-ng-for-example></app-ng-for-example> -->
<!-- <app-ng-switch-example></app-ng-switch-example> -->
<!-- <app-ng-attribute-class></app-ng-attribute-class> -->
<!-- <app-ng-style-ex></app-ng-style-ex> -->
<!-- <app-built-in-pipes></app-built-in-pipes> -->
<!-- <app-user-details></app-user-details> -->
<!-- <app-vehicle-list></app-vehicle-list> -->
<!-- <app-customer></app-customer> -->
<!-- <app-person></app-person> -->
<app-parent></app-parent>